[Desktop Entry]
Version=1.0
Type=Application
Name=Obsidian
Comment=Knowledge base and note-taking app
Exec={{ .chezmoi.homeDir }}/.local/bin/obsidian %U
Icon=obsidian
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/obsidian;
StartupWMClass=obsidian
